Repository v4mpire77/blackletter, changes with the owners that CODEOWNERS names for each.
All owners: @blackletter-systems/core-team, @blackletter-systems/backend-team, @blackletter-systems/frontend-team, @blackletter-systems/docs-team, @blackletter-systems/devops-team, @blackletter-systems/security-team, @blackletter-systems/qa-team, @blackletter-systems/legal-team

CODEOWNERS:

# Global owners
* @blackletter-systems/core-team

# Backend specific
/src/backend/ @blackletter-systems/backend-team
/src/backend/app/ @blackletter-systems/backend-team
/src/backend/tests/ @blackletter-systems/backend-team
/src/backend/requirements.txt @blackletter-systems/backend-team

# Frontend specific
/frontend/ @blackletter-systems/frontend-team
/frontend/app/ @blackletter-systems/frontend-team
/frontend/components/ @blackletter-systems/frontend-team
/frontend/package.json @blackletter-systems/frontend-team

# Documentation
/docs/ @blackletter-systems/docs-team
*.md @blackletter-systems/docs-team
ARCHITECTURE.md @blackletter-systems/docs-team
API_DOCUMENTATION.md @blackletter-systems/docs-team
DEPLOYMENT.md @blackletter-systems/docs-team
CONTRIBUTING.md @blackletter-systems/docs-team

# Infrastructure and deployment
/.github/ @blackletter-systems/devops-team
/docker/ @blackletter-systems/devops-team
/k8s/ @blackletter-systems/devops-team
/terraform/ @blackletter-systems/devops-team
docker-compose.yml @blackletter-systems/devops-team
Dockerfile* @blackletter-systems/devops-team

# Security and compliance
/SECURITY.md @blackletter-systems/security-team
/.github/SECURITY.md @blackletter-systems/security-team
/security/ @blackletter-systems/security-team

# Configuration files
/.env* @blackletter-systems/devops-team
/config/ @blackletter-systems/devops-team
*.yaml @blackletter-systems/devops-team
*.yml @blackletter-systems/devops-team

# Scripts and utilities
/scripts/ @blackletter-systems/core-team
/tools/ @blackletter-systems/core-team

# Tests and quality assurance
/tests/ @blackletter-systems/qa-team
/.github/workflows/ @blackletter-systems/qa-team
jest.config.js @blackletter-systems/qa-team
pytest.ini @blackletter-systems/qa-team

# Legal and licensing
/LICENSE @blackletter-systems/legal-team
/legal/ @blackletter-systems/legal-team

fix: resolve merge conflicts and update configuration
  tools/context_engineering.ps1
Owners: @blackletter-systems/core-team

fix: resolve all remaining merge conflicts and improve system configuration
  TODO.md
  backend/main.py
  backend/requirements.txt
  frontend/app/layout.tsx
  frontend/lib/utils.ts
  frontend/package.json
  frontend/tsconfig.json
  resolve_conflicts.ps1
  scripts/auto-resolve-conflicts.ps1
  scripts/find-conflicts.ps1
  scripts/nuclear-resolve.ps1
Owners: @blackletter-systems/docs-team, @blackletter-systems/core-team, @blackletter-systems/frontend-team

chore(deps): add package-lock.json to lock project dependencies
  BMAD-METHOD-main/BMAD-METHOD-main/package-lock.json
  BMAD-METHOD-main/BMAD-METHOD-main/tools/installer/package-lock.json
Owners: @blackletter-systems/core-team

f
  .qoder/quests/unknown-task.md
  AGENTS.md
  docs/AGENT_CONTEXT_ENGINEERING_WORKFLOW.md
  docs/BMAD_ADVANCED_ELICITATION_GUIDELINES.md
  docs/Risk_Management_Framework.md
  tools/README.md
  tools/bmad_context_engineering.ps1
  tools/bmad_context_engineering_automation.py
  tools/bmad_context_engineering_validator.py
Owners: @blackletter-systems/docs-team, @blackletter-systems/core-team

docs: add BMAD method repository overview
  docs/BMAD_METHOD_OVERVIEW.md
Owners: @blackletter-systems/docs-team

Enable asyncio test mode
  backend/app/services/rag_store.py
  pytest.ini
Owners: @blackletter-systems/core-team, @blackletter-systems/qa-team

Add static landing page
  frontend/public/landing.html
Owners: @blackletter-systems/frontend-team

docs: add fullstack agent orchestration guide
  docs/fullstack.txt
Owners: @blackletter-systems/docs-team

docs: add comprehensive product report
  docs/comprehensive_report.md
Owners: @blackletter-systems/docs-team
